.effect-panel{
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 2px solid greenyellow;
    margin: 10px;
    align-content: center;
    -webkit-box-shadow: inset 9px 7px 37px -28px rgba(255,255,255,0.6), inset 2px 4px 30px -19px rgba(255,255,255,0.88); 
    box-shadow: inset 9px 7px 37px -28px rgba(255,255,255,0.6), inset 2px 4px 30px -19px rgba(255,255,255,0.88);
   
}
.effect-sliders{
    display: flex;
    flex-direction: row;
    align-content: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.effect-button{
    margin-left: 50%;
    margin-top: 10px;
    height: 30px;
    width: 60px;
    background-color: grey;
    border-radius: 5px;
    transform: translate(-50%);
    cursor: pointer;
}

.effect-button-clicked{
    margin-left: 50%;
    margin-top: 10px;
    height: 30px;
    width: 60px;
    background-color: rgb(231, 215, 68);
    border: inherit;
    box-shadow: 5px 3px 10px 0px rgb(255, 116, 2);
    box-shadow: inset 5px 3px 10px 2px rgb(255, 81, 0);
    border-radius: 5px;
    transform: translate(-50%);
    cursor: pointer;
}


.effect-panel input[type=range]{
    height: 70px;
    display: flex;
    flex: 1;
    width: 10px;
    margin: 6px;
}

.delay-fx input[type=range]{
    background-color: rgb(173, 42, 154);
}
.delay-fx input[type=range]::-moz-range-track{
    background-color: black;
        
}
.dist-fx{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: center;
    background-color: rgb(34, 143, 89);
    height: 200px;
    margin: 10px;
    
}
.dist-fx input[type=range]{
    background-color: rgb(34, 143, 89);
}
.dist-fx input[type=range]::-moz-range-track{
    background-color: black;
        
}
.dist-fx p{
    font-family: 'Odibee Sans', cursive;
    background-color: rgb(34, 143, 89);
    color: white;
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    margin-top: 5px;
    
}
.dist-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-family: 'Odibee Sans', cursive;
    color: white;
    justify-content: space-around;
    margin-top: 3px;
    margin-bottom: -3%;

}
.reverb-fx{
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid yellowgreen;
    margin: 10px;
    height: 200px;
    background-color: cornflowerblue;   
}
.reverb-fx p{
    background-color: cornflowerblue;  
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}
.reverb-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-family: 'Dancing Script', cursive;
    color: white;
    justify-content: space-around;
    margin-bottom: -2%;
}
.reverb-fx input[type=range]{
    background-color: cornflowerblue;  
}
.reverb-fx input[type=range]::-moz-range-track{
    background-color: black;       
}

.delay-fx{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 200px;
    border: 1px solid black;
    margin: 10px;
    height: 200px;
    background-color: rgb(173, 42, 154);
}

.delay-fx p{
    background-color: rgb(173, 42, 154);
    font-family: 'Teko', sans-serif;
    margin-bottom: -10px;
    font-size: 40px;
    color: white;   
    text-align: center;
}

.delay-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-family: 'Teko', sans-serif;
    color: white;
    justify-content: space-around;
    margin-bottom: -5%;
}
