/*------Oscillator--------*/
.oscillator{
    align-items: center;
    flex: 0;
    stroke-opacity: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;  
}

.osc-btn-container{
    text-align: left;
    display: inline-block;
    justify-content: center;
    margin-top: 10px;   
}
.osc-btn-container button{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    border-width: inherit;
    cursor: pointer;
    
    
}

.osc-btn-checked{
    background-color: rgb(144, 209, 47);
    color: rgb(231, 52, 52);
    border-color: rgb(147, 209, 55);
    box-shadow: 5px 3px 10px 0px rgb(255, 251, 2);
    box-shadow: inset 5px 3px 10px 2px rgb(217, 255, 0);
}

.osc-display{

    height: auto;
}
.osc-display svg{
    margin: 10px;
    margin-top: 30px;
    border: 2px solid yellowgreen;
    height: auto;
    
}
#triangle{
    stroke-dasharray: 413;
    stroke-dashoffset: 826.3;
    visibility: visible;
    -webkit-animation: dash 3s linear infinite;
    -moz-animation: dash 3s linear infinite;
    animation: dash 3s linear infinite; 
}


#square{   
    visibility: hidden;
    stroke-dasharray: 700;
    stroke-dashoffset: 1400;
    -webkit-animation: dash 5s linear infinite;  
    -moz-animation: dash 5s linear infinite;
    animation: dash 5s linear infinite;
}
#sawtooth{
    
    visibility: hidden;
    stroke-dasharray: 700;
    stroke-dashoffset: 1403.5;
    -webkit-animation: dash 5s linear infinite;
    -moz-animation: dash 5s linear infinite;
    animation: dash 5s linear infinite;
    
}
#sine{
    visibility: hidden;
    stroke-dasharray: 285;
    stroke-dashoffset: 570;
    -webkit-animation: dash 3s linear infinite;  
    -moz-animation: dash 3s linear infinite;
    animation: dash 3s linear infinite;
}

@keyframes dash{
    to{
        stroke-dashoffset: 0;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
}
