@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
/*font-family: 'Orbitron', sans-serif;*/

@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
/*font-family: 'Dancing Script', cursive;*/

@import url("https://fonts.googleapis.com/css?family=Teko&display=swap");
/*font-family: 'Teko', sans-serif;*/

@import url("https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap");
/*font-family: 'Odibee Sans', cursive;*/
@import url("https://fonts.googleapis.com/css?family=Tomorrow&display=swap");

@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
        /*font-family: 'Permanent Marker', cursive;*/
*{
    margin: 0;
    padding: 0;
    
    
}
body{
    background-color: black;
}
.bg-image{
    background: url(/background-img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: column;
}

.header h1{
    position: relative;
    text-align: center;
    margin-top: 200px;
    margin: 50px;
    font-size: 100px;
    margin-bottom: -200px;
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Tomorrow', sans-serif;
    text-decoration: underline;
    background-image: -webkit-linear-gradient(#022486 0%, #0AD0FD 30%, #BDFCFC 40%, #D8FFFF 44%, #00081C 44%, #00081C 50%, #074A67 52%, #1CD8FE 60%, #7FEDFE 62%, #96F5FC 70%, #0FD8FA 73%, #0BD2FD 88%, #AFFDFF 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
  
  

}
.header h3{
position: absolute;
  left: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  margin-top: 5px;
  margin-bottom: 100px;
  color: #EB219B;
  -webkit-text-fill-color: rgba(253, 90, 250, 1);
  text-shadow: -2px -2px 0 #FFBAF2;
  -webkit-filter: drop-shadow(3px 3px 1px #441F62);
  -webkit-transform: skew(-5deg,-5deg);
  font-weight: normal;
  z-index: 2;
  margin-left: 650px;
  

}

.container{
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
    align-items: stretch;
    border: 2px solid yellowgreen;
    max-width: 800px;
    margin: 200px;
    margin-bottom: 30px;
}

    
    
    
.key-container{
    
    background: black;
    display: flex;
    flex: 1;
    justify-content: space-around;
    justify-content: center;
    min-width: 100%;

}
#keys {
    
    height: 205px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    width: 800px;
    max-width: 800px;
    border-left: 2px yellowgreen;
    
    
    
}
.whitenote {
   
    height: 200px;
    width: 45px;
    margin-bottom: 2%;
    background: white;
    float: left;
    border-right: 1px solid black;
    position: relative;
    box-shadow: inset 0px 1px 3px 1px black;
}

.border{
    display: flex;
    
}
.blacknote{
    position: absolute;
    height: 65%;
    width: 55%;
    z-index: 1;
    background: #180d0d;
    left: 70%;
    box-shadow: inset 0px 1px 3px 0px white;
}

.noteclick{
    background-color: gray;
}

/*-------------FX container*/


/*-----Control panel----------*/
.control-panel{
    display: flex;
    flex: 0;
    flex-direction: row;
    border: 2px solid greenyellow;
    color: green;
    margin:10px;
    -webkit-box-shadow: inset 9px 7px 37px -28px rgba(255,255,255,0.6), inset 9px 7px 37px -28px rgba(255,255,255,0.6); 
    box-shadow: inset 9px 7px 37px -28px rgba(255,255,255,0.6), inset 9px 7px 37px -28px rgba(255,255,255,0.6);
    margin-top: -3px;
    
}


/*-----------------OCTAVE-----------*/
.oct-buttons{
    border: 1px solid black;
    flex: 0;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
    -webkit-box-shadow: inset 9px 7px 37px -28px rgba(255,255,255,0.6), inset 9px 7px 37px -28px rgba(255,255,255,0.6); 
    box-shadow: inset 9px 7px 37px -28px rgba(255,255,255,0.6), inset 9px 7px 37px -28px rgba(255,255,255,0.6);

}

.octav-content{
    display: block;
    align-content: center;
    margin: 10px;
}
.octav-display{
    width: 60px;
    height: 60px;
    margin: 12px;
    border: 2px solid greenyellow;
    border-radius: 20%;
    font-family: 'Press Start 2P', cursive;
    text-align: center;    
}

#octave-show{
    margin: 7px;
    font-size: 35px;
}

#oct-up{
    width: 60px;
    height: 60px;
    margin: 12px;
    border: 2px solid greenyellow;
    border-radius: 20%;
    cursor: pointer;   
}
#oct-down{
	width: 60px;
    height: 60px;
    margin: 12px;
    border: 2px solid greenyellow;
    border-radius: 20%;
    cursor: pointer;
}

.octav-content p{
    text-align: center;
    font-family: 'Odibee Sans', cursive;
    font-size: 20px;
}

.info-menu{
    height: 200px;
    background: purple;
}

.info-panel{
    text-align: center;
    color: white;
    font-family: 'Odibee Sans', cursive;
}

.info-panel p{
    margin: 10px;
}

.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#keyboard-black{
    display: flex;
    flex-direction: row;
}

#keyboard-black p{
    text-decoration: none;
    font-size: 30px;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    margin: 2px;
    text-align: center;
    -webkit-box-shadow: inset 6px 6px 13px -11px rgba(255,255,255,0.87); 
box-shadow: inset 6px 6px 13px -11px rgba(255,255,255,0.87);
}

#black1-2{
    display: flex;
    flex: 1;
    margin-right: 10%;
    margin-left: -12%;
}

#black3-5{
    display: flex;
    flex: 2;
    margin-right: 8%;
    margin-left: -2%;
}

#black6-7{
    display: flex;
    flex: 1;
    margin-right: 8%;
    
}
#black8-10{
    display: flex;
    flex: 2;
    margin-right: 10%;
}

#keyboard-white{
    display: flex;
    flex-direction: row;
}

#white{
    display: flex;
}

#keyboard-white p{
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    margin: 1px;
    height: 40px;
    width: 40px;
    -webkit-box-shadow: inset 6px 6px 13px -11px rgba(0,0,0,0.87), inset 2px 8px 13px -11px rgba(0,0,0,0.87); 
    box-shadow: inset 6px 6px 13px -11px rgba(0,0,0,0.87), inset 2px 8px 13px -11px rgba(0,0,0,0.87);
}

